.main-content
  br
  form
    table
      tr
      td
        #user
          a(href="/oauth") login with Evernote?
          br
          a(href="/clear") logout?
        br
        input(type="text" placeholder="Enter an ingredient..." ng-model="cur_search").searchbox
        br
        br
        input(type="submit" value="Go" id="Go" ng-click="get_recipes_by_ingredients(cur_search)")
        br
        br
