.main-content(ng-controller="SearchController")
  br
  form
    table
      tr
      td
        //select
          option plan a meal...
          option breakfast
          option brunch
          option lunch
          option dinner
        br
        input(type="text" placeholder="Enter an ingredient..." ng-model="cur_search").searchbox
        br
        br
        input(type="submit" ng-click="get_recipes_by_ingredients(cur_search)")
        br
        br
