.main-content
  br
  form
    table
      tr
      td
        | There are {{recipe_count}} results for {{previous_query}}:
        ul
          li(ng-repeat="result in recipes") {{result.summary.title}} has {{result.summary.id}}.
