.main-content
  br
  form
    table
      tr
      td
        p.bold {{recipe_count}} result(s) for {{previous_query}}:
        ul
          li(ng-repeat="result in recipes")
            a(href="" ng-click="get_single_recipe(result.summary.id)") {{result.summary.title}}
