.main-content
  br
  form
    table
      tr
      td
        | {{current_recipe.summary.title}}
        ul
          li(ng-repeat="direction in current_recipe.directions") {{direction}}
        br
        | Which ingredients do you need?
        ul
          li(ng-repeat="ingredient in current_recipe.ingredients")
            input(type="checkbox" name="checklist" id="{{ingredient.name}}")
            {{ingredient.description}}
