.main-content
  br
  form
    table
      tr
      td
        p.bold {{current_recipe.summary.title}}
        ul
          li(ng-repeat="direction in current_recipe.directions") {{direction}}
        p.bold List of Ingredients
        ul
          li(ng-repeat="ingredient in current_recipe.ingredients")
            input(type="checkbox" name="checklist" id="{{ingredient.name}}")
            {{ingredient.description}}
        br
        a(ng-click="export_evernote()" href="http://sandbox.evernote.com/") Export shopping list to Evernote
        img(src="imgs/Elephant.gif" id="Elephant")
        br
