doctype html
html(ng-app="fasmApp")
  head
    title #{title} - FASM
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 FASM
    .container(ng-view)

        footer
      br
      | By Will and Dan Long
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js")
    script(type="text/javascript" src="js/controllers.js")
    script(type="text/javascript" src="js/app.js")
    script(type="text/javascript" src="js/services.js")
