doctype html
html(ng-app="fasmApp")
  head
    title #{title} - FoodASM
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 FoodASM
    .container(ng-view)

  footer
    br
    | By Will and Dan Long
    br
    br
    | FoodASM powered by
    img(src="imgs/Pearson.gif")
    | and
    img(src="imgs/Evernote.gif")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js")
    script(type="text/javascript" src="js/controllers.js")
    script(type="text/javascript" src="js/app.js")
    script(type="text/javascript" src="js/services.js")
