 body {
  background-image:url('/imgs/noodles5.jpg');
  //background-color:#5CB85C;
}

header {
  text-align: center;
  font-family:"Arial", Arial, sans-serif;
  font-size:32px;
}

#Login {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
  margin-left:25px;
}

p.bold {
   font-weight:bold;
   font-family:"Arial", Arial, sans-serif;
   font-size:16px;
}

#Go {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -moz-user-select: none;
  margin-left:25px;
}

#Elephant {
  vertical-align: middle;
}

#GoShopping {
color: #FFF;
background-color: #5CB85C;
border-color: #4CAE4C;
display: inline-block;
margin-bottom: 0px;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-moz-user-select: none;
margin-left:25px;
}



form {
    background: white;
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
  }

.searchbox {
    width: 640px;
    margin: 12px 12px 12px 12px;
    padding: 3px 3px 3px 3px;
    font-family:"Arial", Arial, sans-serif;
    font-size:20px;
}

footer {
  font-weight:bold;
  color: #000000;
  text-align: center;
  font-family:"Arial", Arial, sans-serif;
  font-size:20px;
}
